/* colors */
$text : #000;
$text-hover: #ff9b25;
$C1: #e7235f;
$C2: #ff9b25;
$C3: #16af70;
$C4: #37adff;

/* end of colors */

/* fonts */
$DINRoundPro: "DINRoundPro", sans-serif;

/* end of fonts */

$content-width: 932px;
